.left-blocks__arithmetic-operations {
  width: 240px;
  height: 56px;
  display:flex;
  align-self: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 16px;
  background:#FFFFFF;
}

.left-blocks__arithmetic-operations__button {
  box-sizing: border-box;
  width: 52px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #E2E3E5;
  border-radius: 6px;
  text-align: center;
  line-height: 48px;
  align-self: center;
  margin: 4px;
  cursor: pointer;
}